<p-toast></p-toast>
<div class="container mx-auto p-4 pt-12">
  <div class="flex justify-between mb-4 mt-12">
    <h2 class="text-xl font-semibold">Private Stock Lists Shared with Me</h2>
  </div>

  <p-table [value]="stockLists" class="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>Owner</th>
        <th>Stock List Name</th>
        <th>Private</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stockList>
      <tr>
        <td>{{ stockList.owner }}</td>
        <td>{{ stockList.stock_list_name }}</td>
        <td>
          <i
            class="pi"
            [ngClass]="{
              'pi-lock': stockList.private,
              'pi-user': !stockList.private
            }"
          ></i>
        </td>
        <td>
          <div class="flex gap-x-2">
            <button
              pButton
              type="button"
              icon="pi pi-arrow-right"
              class="p-button-rounded"
              (click)="goToStockList(stockList)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
