  <p-menubar [model]="items" styleClass="py-3 px-8">
    <ng-template pTemplate="start">
      <img src="assets/images/navbar_logo.svg" class="w-[15rem]" alt="Logo" />
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-3">
        <!-- <input type="text" pInputText placeholder="Search for Stocks" class="w-[20rem] sm:w-auto p-3 border border-gray-300 rounded-full focus:outline-none focus:border-blue-500 bg-slate-50 shadow-sm" style="width: 20rem !important;" /> -->
        <p-autoComplete
          [(ngModel)]="selectedTicker"
          [suggestions]="tickers"
          (completeMethod)="search($event)"
          field="stockCompany"
          [completeOnFocus]="true"
          delay="300"
          placeholder="Search for Stocks"
          (onSelect)="onTickerSelect($event)"
        ></p-autoComplete>

        <p-menu #menuPopup [popup]="true" [model]="userItems" styleClass="w-[14rem]"></p-menu>
        <img
          [src]="profilePictureUrl"
          class="profile-pic w-10 h-10 rounded-full cursor-pointer"
          (click)="menuPopup.toggle($event)"
        />
      </div>
    </ng-template>
  </p-menubar>
