<p-toast></p-toast>
<div class="container mx-auto p-4 pt-12">
	<div class="flex items-center mb-4">
		<div>
			<h1 class="text-2xl font-bold">{{ stockListName }}</h1>
			<h2 class="text-xl">By {{ username }}</h2>
		</div>
		<div class="ml-auto flex gap-2">
			<p-button
				label="Add Stock"
				icon="pi pi-plus"
				class="p-button-success"
				(click)="showAddStockDialog()"
				*ngIf="isOwner"
			></p-button>
			<p-toggleButton
				onLabel="Private"
				offLabel="Public"
				onIcon="pi pi-lock"
				offIcon="pi pi-unlock"
				[(ngModel)]="isPrivate"
				(onChange)="toggleVisibility()"
				*ngIf="isOwner"
			></p-toggleButton>
			<p-button
				label="Share Stock List"
				icon="pi pi-share-alt"
				class="p-button-info"
				(click)="showShareStockListDialog()"
				*ngIf="isOwner && isPrivate"
			></p-button>
		</div>
	</div>

	<p-table [value]="stocks" class="p-datatable-sm">
		<ng-template pTemplate="header">
			<tr>
				<th>Stock Symbol</th>
				<th>Number of Shares</th>
				<th>Actions</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-stock>
			<tr>
				<td>{{ stock.stock_symbol }}</td>
				<td>{{ stock.num_shares }}</td>
				<td>
					<div class="flex gap-x-2">
						<button
							pButton
							type="button"
							icon="pi pi-minus"
							class="p-button-danger p-button-rounded"
							(click)="removeShares(stock.stock_symbol, 1)"
							*ngIf="isOwner"
						></button>
						<button
							pButton
							type="button"
							icon="pi pi-plus"
							class="p-button-success p-button-rounded"
							(click)="addStock(stock.stock_symbol, 1)"
							*ngIf="isOwner"
						></button>
						<button
							pButton
							type="button"
							icon="pi pi-times"
							class="p-button-danger p-button-rounded"
							(click)="deleteStock(stock.stock_symbol)"
							*ngIf="isOwner"
						></button>
						<button
							pButton
							type="button"
							icon="pi pi-arrow-right"
							class="p-button-rounded"
							(click)="goToStock(stock.stock_symbol)"
						></button>
					</div>
				</td>
			</tr>
		</ng-template>
	</p-table>

	<p-dialog
		header="Add Stock"
		[(visible)]="displayAddStockDialog"
		[modal]="true"
		[closable]="true"
		[dismissableMask]="true"
		[responsive]="true"
		[style]="{ width: '20rem' }"
		[baseZIndex]="10000"
	>
		<div class="p-fluid">
			<div class="p-field mb-4">
				<label for="buyStockSymbol" class="block text-sm font-medium text-gray-700">Stock Symbol</label>
				<p-autoComplete
					id="buyStockSymbol"
					[(ngModel)]="buyStockSymbol"
					(completeMethod)="searchStocks($event)"
					[suggestions]="filteredStocks"
					field="stock_symbol"
					class="mt-1 block w-full"
				></p-autoComplete>
			</div>
			<div class="p-field mb-4">
				<label for="buyNumShares" class="block text-sm font-medium text-gray-700">Number of Shares</label>
				<input
					id="buyNumShares"
					type="number"
					pInputText
					[(ngModel)]="buyNumShares"
					class="mt-1 block w-full"
				/>
			</div>
			<div class="text-right">
				<p-button label="Add" class="p-button-success" (click)="addStock()" [disabled]="!buyStockSymbol || !buyNumShares"></p-button>
			</div>
		</div>
	</p-dialog>

	<p-dialog
		header="Share Stock List"
		[(visible)]="displayShareStockListDialog"
		[modal]="true"
		[closable]="true"
		[dismissableMask]="true"
		[responsive]="true"
		[style]="{ width: '20rem' }"
		[baseZIndex]="10000"
	>
		<div class="p-fluid">
			<div class="p-field mb-4">
				<label class="block text-sm font-medium text-gray-700">Shared With</label>
				<p-table [value]="sharedUsers" [scrollable]="true" scrollHeight="200px">
					<ng-template pTemplate="header">
						<tr>
							<th>Username</th>
							<th>Actions</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-user>
						<tr>
							<td>{{ user.user }}</td>
							<td>
								<button pButton icon="pi pi-user-minus" class="p-button-rounded p-button-text p-button-danger"></button>
							</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
			<div class="p-field mb-4">
				<label for="shareWithUser" class="block text-sm font-medium text-gray-700">Share With</label>
				<p-autoComplete
					id="shareWithUser"
					[(ngModel)]="shareWithUser"
					(completeMethod)="searchUsers($event)"
					[suggestions]="filteredUsers"
					field="username"
					class="mt-1 block w-full"
				></p-autoComplete>
			</div>
			<div class="text-right">
				<p-button label="Share" class="p-button-info" (click)="shareStockList()"></p-button>
			</div>
		</div>
	</p-dialog>
</div>
