<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Connections</h1>

  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <div class="flex justify-end mb-4 gap-x-4">
    <p-autoComplete
      [(ngModel)]="newFriend"
      [suggestions]="filteredUsers"
      (completeMethod)="searchUsers($event)"
      field="username"
      placeholder="Enter username"
      class="p-inputtext-sm p-mr-2"
    ></p-autoComplete>
    <button
      pButton
      type="button"
      icon="pi pi-user-plus"
      class="p-button-success"
      (click)="addFriend()"
      [disabled]="!newFriend"
    ></button>
  </div>

  <div *ngIf="connections.length > 0" class="mb-4">
    <h2 class="text-xl font-semibold mb-2">Your Connections</h2>
    <p-table [value]="connections" class="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th>Username</th>
          <th>Actions</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-connection>
        <tr>
          <td *ngIf="connection.requesting_friend === myId">{{ connection.receiving_friend }}</td>
          <td *ngIf="connection.requesting_friend !== myId">{{ connection.requesting_friend }}</td>
          <td>
            <button
              *ngIf="!connection.pending"
              pButton
              type="button"
              icon="pi pi-user-minus"
              class="p-button-danger p-button-rounded"
              (click)="confirmRemove(connection)"
            ></button>
          </td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-arrow-right"
              class="p-button-rounded"
              (click)="goToUserPage(connection.requesting_friend === myId ? connection.receiving_friend : connection.requesting_friend)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="incomingRequests.length > 0" class="mb-4">
    <h2 class="text-xl font-semibold mb-2">Incoming Friend Requests</h2>
    <p-table [value]="incomingRequests" class="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th>Username</th>
          <th>Actions</th>
          <th>View</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr>
          <td>{{ request.requesting_friend }}</td>
          <td>
            <div class="flex gap-x-2">
              <button
                pButton
                type="button"
                icon="pi pi-times"
                class="p-button-danger p-button-rounded"
                (click)="confirmRemove(request)"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-check"
                class="p-button-success p-button-rounded"
                (click)="confirmAccept(request)"
              ></button>
            </div>
          </td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-arrow-right"
              class="p-button-rounded"
              (click)="goToUserPage(request.requesting_friend)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="sentRequests.length > 0">
    <h2 class="text-xl font-semibold mb-2">My Sent Requests</h2>
    <p-table [value]="sentRequests" class="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th>Username</th>
          <th>Actions</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr>
          <td>{{ request.receiving_friend }}</td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-user-minus"
              class="p-button-danger p-button-rounded"
              (click)="confirmWithdraw(request)"
            ></button>
          </td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-arrow-right"
              class="p-button-rounded"
              (click)="goToUserPage(request.receiving_friend)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div
    *ngIf="
      connections.length === 0 &&
      incomingRequests.length === 0 &&
      sentRequests.length === 0
    "
  >
    <p>No connections or friend requests found.</p>
  </div>
</div>